.displayInlineblock{
    display: inline-block;
}
.decoration-none{
    text-decoration: none;
    list-style:none;
}
.active{
    color:red;
    padding:5px;
}
.inactive{
    color:blue;
    padding:5px;
}